@using JOT23_Pre2UniOnline.Models
@using JOT23_Pre2UniOnline.DatAccess
@{
    ViewBag.title = "Pre2Uni";
    var Students = Model;
    int numOfSutdent = StudentDAO.Instance.Student().Count;
    if (numOfSutdent % 8 == 0)
    {
        numOfSutdent = numOfSutdent / 8;
    }
    else
    {
        numOfSutdent = (numOfSutdent / 8) + 1;
    }
    if (ViewBag.crPage == null)
    {
        ViewBag.crPage = 0;
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    @Html.Partial("_head")
</head>

<body>
    @Html.Partial("_navAdmin")
    <!-- tab search dictionary -->
    <div class="container-fluid bg-primary hero-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white"</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center">Student Table</h2>
        <form action="@Url.Action("searchStudentByLastname","Student")" method="post">
            <input type="text" class="btn btn-primary" name="LastName" value="" required />
            <button id="btnSub" type="submit" class="btn col-3 btn-primary">Search by Last name</button>
        </form>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Number Of course</th>
                    <th>Date Create</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Students.Count > 0)
                {
                    @foreach (var student in Students)
                    {
                        <tr>
                            <td>@student.ID</td>
                            <td>@student.FirstName</td>
                            <td>@student.LastName</td>
                            <td>@student.Courses.Count</td>
                            <td>@student.DateCreate.Date.ToString()</td>
                            <td>
                                <div class="d-flex row">
                                    <div class="col-md-3"></div>
                                    <a href="@Url.Action("ViewStudent","Student", new{idStudent = @student.ID})" name="btnStudentAdmin" class="col-3 btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                                    @if (student.Status)
                                    {
                                        <button type="submit" name="btnStudentAdmin" class="col-3 btn btn-primary" onclick="acceptDelete(@student.ID)" value="Delete" style="color: red"><i class="bi bi-unlock"></i></button>
                                    }
                                    else
                                    {
                                        <button type="submit" name="btnStudentAdmin" class="col-3 btn btn-primary" onclick="acceptUnlock(@student.ID)" value="Delete" style="color: red"><i class="bi bi-lock"></i></button>
                                    }

                                    <div class="col-md-3"></div>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6"><h2>Not Found Anything</h2></td>
                    </tr>
                }
            </tbody>
        </table>


        <div class="justify-content-center ">
            @for (int i = 0; i < numOfSutdent; i++)
            {
                if (ViewBag.crPage == i)
                {
                    <a href="@Url.Action("Student", "Admin", new{page = i, max = numOfSutdent})" class="border m-1 btn btn-primary">@(i + 1)</a>
                }
                else
                {
                    <a href="@Url.Action("Student", "Admin", new{page = i, max = numOfSutdent})" class="border m-1 p-1">@(i + 1)</a>
                }
            }
        </div>
        <div id="DeleteForm" class="modal fade p-lg-5" role="dialog">
            <div class="modal-dialog modal-lg" role="content">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-dark">Delete</h4>
                        <ion-icon class="closeForm" style="cursor: pointer;" onclick="acceptDelete()" name="close-outline"></ion-icon>
                    </div>
                    <div class="modal-body">
                        <form action="@Url.Action("StudentAction","Student")" method="post">
                            <input type="hidden" id="idStudentToDelete" name="idStudent" value="" />
                            <input type="hidden" name="btnStudentAdmin" value="Delete" />
                            <h3 id="formDeleteForm">Are you sure to Lock Student</h3>
                            <div class="form-row p-md-3 center">
                                <button type="button" onclick="acceptDelete()" class="btn btn-secondary btn-sm ml-auto cancelForm">Cancel</button>
                                <button type="submit" class="btn btn-primary btn-sm ml-1">Yes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>




        <div id="UnlockForm" class="modal fade p-lg-5" role="dialog">
            <div class="modal-dialog modal-lg" role="content">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-dark">Unlock? </h4>
                        <ion-icon class="closeForm" style="cursor: pointer;" onclick="acceptDelete()" name="close-outline"></ion-icon>
                    </div>
                    <div class="modal-body">
                        <form action="@Url.Action("UnlockStudent","Student")" method="post">
                            <input type="hidden" id="idStudentToUnlock" name="idStudent" value="" />
                            <input type="hidden" name="btnStudentAdmin" value="Delete" />
                            <h3 id="formDeleteForm">Are you sure to UnLock Student</h3>
                            <div class="form-row p-md-3 center">
                                <button type="button" onclick="acceptUnlock()" class="btn btn-secondary btn-sm ml-auto cancelForm">Cancel</button>
                                <button type="submit" class="btn btn-primary btn-sm ml-1">Yes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_endScript")
    <script>
        function acceptDelete(id = null) {
            if (id != null) {
                document.querySelector("#idStudentToDelete").value = id;
            }
            $('#DeleteForm').modal('toggle');
            
        }

        function acceptUnlock(id = null) {
            if (id != null) {
                document.querySelector("#idStudentToUnlock").value = id;
            }
            $('#UnlockForm').modal('toggle');
           
        }

       
    </script>
</body>

</html>