@using JOT23_Pre2UniOnline.DatAccess
@using JOT23_Pre2UniOnline.Models
@{
	ViewBag.title = "Pre2Uni Online";
	var Courses = Model;
	int numOfCourse = CourseDAO.Instance.Courses().Count;
	if (numOfCourse % 8 == 0)
	{
		numOfCourse = numOfCourse / 8;
	}
	else
	{
		numOfCourse = (numOfCourse / 8) + 1;
	}
	if (ViewBag.crPage == null)
	{
		ViewBag.crPage = 1;
	}
}

<!DOCTYPE html>
<html lang="en">

<head>
	@Html.Partial("_head")
</head>

<body>
	@Html.Partial("_navAdmin")
	<!-- tab search dictionary -->
	<div class="container-fluid bg-primary hero-header">
		<div class="container py-5">
			<div class="row justify-content-center">
				<div class="col-lg-10 text-center">
					<h1 class="display-3 text-white"></h1>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<h2 class="text-center">Course Table</h2>
		<div class="row">
			<div class="col-3"></div>
			<a type="submit" name="btnStudentAdmin" onclick="formTable()" class="addModelbtn col-6 btn btn-primary" value="Delete">Add New</a>
			<div class="col-3"></div>
		</div>

		<div id="addModal" class="modal fade p-lg-5" role="dialog">
			<div class="modal-dialog modal-lg" role="content">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title text-dark">ADD New Course</h4>
						<ion-icon class="closeForm" style="cursor: pointer;" onclick="formTable()" name="close-outline"></ion-icon>
					</div>
					<div class="modal-body">
						<form action="@Url.Action("AddNewCourse","Course")" enctype="multipart/form-data">
							<div class="form-row row">
								<div class="row col-6">
									<div class="form-group p-md-2">
										<label for="Firstname">Title <span style="color: red">*<span></label>
										<input type="text" name="Title" class="form-control text-secondary form-control-sm mr-1"
											   placeholder="Title" required>
									</div>
									<div class="form-group p-md-2">
										<label for="LastName">Detail <span style="color: red">*<span></label>
										<input type="text" name="Detail" class="form-control text-secondary form-control-sm mr-1"
											   placeholder="Detail" required>

									</div>
								</div>
								<div class="row col-6">
									<div class="form-group p-md-2">
										<label for="Phone">Price <span style="color: red">*<span></label>
										<input type="number" name="Price" class="form-control text-secondary form-control-sm mr-1"
											   placeholder="Price" required>
									</div>
									<div class="form-group p-md-2">
										<label for="EmailLecturer">Sale <span style="color: red">*<span></label>
										<input type="number" name="Sale" class="form-control text-secondary form-control-sm mr-1"
											   placeholder="Sale" required>
									</div>
								</div>
							</div>
							<div class="row col-12">
								<div class="form-group p-md-2">
									<label for="password">Lecturer</label>
									<select class="form-control" name="IDLecturer" placeholder="First Name">
										@foreach (Lecturer item in LecturerDAO.Instance.Lecturers())
										{
											<option value="@item.ID">@item.FirstName @item.LastName</option>
										}
									</select>
								</div>
							</div>
							<div class="form-row p-md-3 center row">
								<div class="col-md-7 col-sm-12"></div>
								<button type="button" onclick="formTable()" class="btn col-md-2 col-sm-12 m-1 btn-secondary btn-sm ml-auto cancelForm">Cancel</button>
								<button type="submit" class="btn btn-primary btn-sm ml-1 col-md-2 col-sm-12 m-1">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<table class="table table-striped text-center">
			<thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Price</th>
					<th>Sale</th>
					<th>Lecturer</th>
					<th>Slot</th>
					<th>Number Of Student</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@if (Courses.Count > 0)
				{
					@foreach (var course in Courses)
					{
						<tr>
							<td>@course.ID</td>
							<td>@course.Title</td>
							<td>@course.Price</td>
							<td>@course.Sale %</td>
							@if (course.Lecturer == null)
							{
								<td>No body</td>
							}
							else
							{
								<td>@course.Lecturer.FirstName @course.Lecturer.LastName</td>
							}
							<td>@course.Calendars.Count</td>
							<td>@course.Quantity / 30</td>
							<td>
								<div class="d-flex row">
									<div class="col-md-3"></div>
									<a href="@Url.Action("ViewCourse", "Course", new{IdCourse = course.ID})" name="btnStudentAdmin" class="col-3 btn btn-primary"><i class="bi bi-pencil-square"></i></a>
									@if (course.Status)
									{
										<a href="@Url.Action("SetStatus", "Course", new{Id = course.ID, Status = true})" type="submit" name="btnStudentAdmin" class="col-3 btn btn-primary" value="Delete" style="color: red"><i class="bi bi-lock-fill"></i></a>
									}
									else
									{
										<a href="@Url.Action("SetStatus", "Course", new{Id = course.ID, Status = false})" type="buttom" name="btnStudentAdmin" class="col-3 btn btn-primary" value="Delete" style="color: red"><i class="bi bi-unlock-fill"></i></a>
									}
									<div class="col-md-3"></div>
								</div>
							</td>
						</tr>
					}
				}
				else
				{
					<tr>
						<td colspan="8"><h2>Not Found Anything</h2></td>
					</tr>
				}
			</tbody>
		</table>
		<div class="justify-content-center ">
			@for (int i = 0; i < numOfCourse; i++)
			{
				if (ViewBag.crPage == i)
				{

					<a href="@Url.Action("Course", "Admin", new{page = i, max = numOfCourse})" class="border m-1 btn btn-primary">@(i + 1)</a>
				}
				else
				{
					<a href="@Url.Action("Course", "Admin", new{page = i, max = numOfCourse})" class="border m-1 p-1">@(i + 1)</a>
				}
			}
		</div>
	</div>
	<script src="~/js/AdminSet.js"></script>
	@Html.Partial("_endScript")
</body>

</html>