@using JOT23_Pre2UniOnline.DataAccess;
@using JOT23_Pre2UniOnline.DatAccess
@using JOT23_Pre2UniOnline.Models
@{
    ViewBag.title = "Pre2Uni Admin";
    var Courses = CourseDAO.Instance.Courses();
    DateTime nowUtc = DateTime.UtcNow;
    TimeZoneInfo vietnamTimeZone = TimeZoneInfo.FindSystemTimeZoneById("SE Asia Standard Time"); // Múi giờ của Việt Nam
    DateTime currectDate = TimeZoneInfo.ConvertTimeFromUtc(nowUtc, vietnamTimeZone);
    DateTime newCurrentDate = currectDate.AddDays(1);
   
    var notification = NotificationDAO.Instanse.Transactions();
}
@model List<Notification>
<!DOCTYPE html>
<html lang="en">

<head>
    @Html.Partial("_head")
</head>

<body>
    @Html.Partial("_navAdmin")
    <!-- tab search dictionary -->
    <div class="container-fluid bg-primary hero-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white"></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h1>Notification</h1>
        <form method="post" action="@Url.Action("addnewNotification","Notification")">
            <input type="hidden" name="IdAdmin" value="1" />
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="title">Title <span style="color: red">*<span></label>
                    <input type="text" class="form-control" name="Title" id="title" placeholder="Enter Dtail" required />
                </div>
                <div class="col-md-4">
                    <label for="StartDate">Date Start <span style="color: red">*<span></label>
                    <input name="StartTime" min="@currectDate.ToString("dd/MM/yyyy")" id="StartTime" class="form-control" type="date" required />
                </div>
                <div class="col-md-4">
                    <label for="EndtDate">End date <span style="color: red">*<span></label>
                    <input name="EndTime" min="@newCurrentDate.ToString("dd/MM/yyyy")" id="EndTime" class="form-control" type="date" required />
                </div>

            </div>
            <div class="form-group">
                <label for="message">Content <span style="color: red">*<span></label>
                <textarea class="form-control" id="message" name="Detail" rows="3" placeholder="Enter Content" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary m-2" onclick="">Create New Notification
        </form>
    </div>

    <div class="container">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Detail</th>
                    <th>Date Create</th>
                    <th>Date End</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @if (notification.Count > 0)
                {
                    @foreach (var noti in notification)
                    {
                        <tr>
                            <td>@noti.Title</td>
                            <td style="width:20%">@noti.Detail</td>
                            <td>@noti.StartTime.ToString("dd/MM/yyyy")</td>
                            <td>@noti.EndTime.ToString("dd/MM/yyyy")</td>
                            <td>
                                <button name="btnLecturerAdmin" type="button" onclick="acceptDelete(@noti.ID)" class="col-6 btn btn-primary" value="Delete" style="color: red"><i class="bi bi-trash-fill"></i></button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5"><h2>Not Found Anything</h2></td>
                    </tr>
                }
            </tbody>
        </table>

        <div id="DeleteForm" class="modal fade p-lg-5" role="dialog">
            <div class="modal-dialog modal-lg" role="content">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-dark">Delete</h4>
                        <ion-icon class="closeForm" style="cursor: pointer;" onclick="acceptDelete()" name="close-outline"></ion-icon>
                    </div>
                    <div class="modal-body">
                        <form action="@Url.Action("delete","Notification")" method="post">
                            <input type="hidden" id="idNotificationDelete" name="idNotification" value="" />
                            <input type="hidden" name="btnStudentAdmin" value="Delete" />
                            <h3 id="formDeleteForm">Are you sure delete</h3>
                            <div class="form-row p-md-3 center">
                                <button type="button" onclick="acceptDelete()" class="btn btn-secondary btn-sm ml-auto cancelForm">Cancel</button>
                                <button type="submit" class="btn btn-primary btn-sm ml-1">Yes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function acceptDelete(id = null) {
            if (id != null) {
                document.querySelector("#idNotificationDelete").value = id;
            }
            $('#DeleteForm').modal('toggle');
        }
        function showNotification() {
            var title = document.getElementById("title").value;
            var message = document.getElementById("message").value;

            var notification = `<div class="alert alert-success alert-dismissible fade show" role="alert">
                                                  <strong>${title}</strong> - ${message}
                                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>`;

            var notificationContainer = document.getElementById("notification-container");
            notificationContainer.innerHTML = notification;
        }
    </script>
    @Html.Partial("_endScript")
</body>

</html>