@using JOT23_Pre2UniOnline.Models
@model Student
@using JOT23_Pre2UniOnline.DatAccess
<!DOCTYPE html>
<html lang="en">

<head>
	@Html.Partial("_head")
</head>

<body>


	<!-- tab search dictionary -->
	<div class="container-fluid bg-primary mb-5 hero-header">
		<div class="container py-1">
			<div class="row justify-content-center" style="margin-top: 100px">
				<div class="col-lg-10 text-center">
					<h1 class="display-3 text-white animated slideInDown">@Model.FirstName @Model.LastName</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- Profile in here -->
	<a href="@Url.Action("Student", "Admin")" class="btn btn-primary p-3" style="margin-left: 5%;">Back</a>
	<div class="container">
		<div class="main-body">
			<div class="row gutters-sm">
				<div class="col-md-4 mb-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								@if (Model.Avatar.Length > 2)
								{
									<img src="~/img/Avatar/Student/@(Model.Avatar)" alt="Admin" class="rounded-circle" width="242">
								}
								else
								{
									<img src="~/img/Avatar/Student/@(Model.Gender.Trim()).jpg" alt="Admin" class="rounded-circle" width="242">
								}
								<div class="mt-3">
									<h4>@Model.FirstName @Model.LastName</h4>
									<p class="text-secondary mb-1">@Model.RoleID</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-8 ">
					<div id="ProfileForm" class="card mb-3">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">First Name</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									@Model.FirstName
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Last Name</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									@Model.LastName
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Gander</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									@Model.Gender
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">DOB</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									@Model.DOB
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Password</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									*********
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Email</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									@Model.Email
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Phone</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									@Model.Phone
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-12">
									<a onclick="showProfileForm()" class="btn btn-primary px-5">Edit</a>
								</div>
							</div>
						</div>

						<div class="row gutters-sm">
						</div>
					</div>
					<div id="EditProfileForm" class="card mb-3 edit-form" style="display:none ;">
						<div class="card-body">
							<form action="@Url.Action("updateStudent", "Student")" method="post">
								<input type="hidden" name="Id" value="@(Model.ID)"/>
								<input type="hidden" name="admin" value="Admin"/>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">First Name <span style="color: red">*<span></h6>
									</div>
									<input maxlength="20" class="col-sm-9 text-secondary" placeholder="First Name" name="FirstName" value="@Model.FirstName" required />
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Last Name <span style="color: red">*<span></h6>
									</div>
									<input maxlength="20" class="col-sm-9 text-secondary" placeholder="Last Name" name="LastName" value="@Model.LastName" required />
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Gander</h6>
									</div>
									<select class="col-sm-9 text-secondary" name="Gander" placeholder="First Name">
										<option value="Male">
											Male
										</option>
										<option value="Female">
											Female
										</option>
									</select>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Day of Birthday <span style="color: red">*<span></h6>
									</div>
									<input maxlength="20" id="dobInput" class="col-sm-9 text-secondary datetimepicker-input" name="DOB" data-toggle="datetimepicker" type="date" placeholder="Last Name" value="@Model.DOB.ToString("dd-MM-yyyy")" required />
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Password <span style="color: red">*<span></h6>
									</div>
									<input maxlength="20" class="col-sm-9 text-secondary" name="Password" placeholder="Password" maxlength="20" title="Password must be at least 8 characters, including at least one uppercase letter, one lowercase letter, one number and one special character" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,30}$" value="@Model.Password" required />
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Email <span style="color: red">*<span></h6>
									</div>
									<input maxlength="20" class="col-sm-9 text-secondary" name="Email" placeholder="Email" type="email" value="@Model.Email" required />
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Phone <span style="color: red">*<span></h6>
									</div>
									<input maxlength="10" pattern="[0-9]{10}" title="Please enter the number phone with 10 digit" class="col-sm-9 text-secondary" name="Phone" type="tel" placeholder="Phone Number" value="@Model.Phone" required />
								</div>
								<hr>
								<div class="row">
									<div class="col-7"></div>
									<div class="col-4 d-flex">
										<input type="submit" class="btn m-1 btn-primary px-5" />
										<a onclick="showEditProfileForm()" class="btn m-1 btn-primary px-5">Cancer</a>
									</div>
								</div>
							</form>
						</div>
						<div class="row gutters-sm">
						</div>
					</div>

					@if (Model.Courses.Count > 0)
					{
						<div class="container">
							<table class="table table-striped text-center">
								<thead>
									<tr>
										<th>Course</th>
										<th>Time</th>
									</tr>
								</thead>
								<tbody>
									@foreach (Course course in Model.Courses)
									{
										@if (course.Status)
										{
											@if (course.Calendars.Count > 0)
											{
												@foreach (Calendar calendar in course.Calendars)
												{
													<tr>
														<td><b>@course.Title</b></td>
														<td><b><i>@calendar.TimeStart.ToString() - @calendar.TimeEnd.ToString()</i></b></td>
													</tr>
												}
											}
										}
									}
								</tbody>
							</table>
						</div>
					}
				</div>

			</div>
		</div>

		<script>
			console.log("@Model.FirstName")
		</script>
		<script>
			console.log("@Model.Avatar")
			var dobValue = "@Model.DOB.ToString("yyyy-MM-dd")";
			document.getElementById("dobInput").value = dobValue;

			function showProfileForm() {
				document.getElementById("ProfileForm").style.display = "none";
				document.getElementById("EditProfileForm").style.display = "block";
			}
			function showEditProfileForm() {
				document.getElementById("ProfileForm").style.display = "block";
				document.getElementById("EditProfileForm").style.display = "none";
			}

			function showProfileFormlt() {
				document.getElementById("ProfileFormlt").style.display = "none";
				document.getElementById("EditProfileFormlt").style.display = "block";
			}
			function showEditProfileFormlt() {
				document.getElementById("ProfileFormlt").style.display = "block";
				document.getElementById("EditProfileFormlt").style.display = "none";
			}
		</script>
		@Html.Partial("_endScript")
</body>

</html>