@model ExamTest
@using JOT23_Pre2UniOnline.Models
@using JOT23_Pre2UniOnline.DatAccess
@{
	int role = ViewBag.Role;
}

<!DOCTYPE html>
<html lang="en">

<head>
	@Html.Partial("_head")
</head>

<body>
	@Html.Partial("_navStart")
	@if (ViewBag.Role != 2)
	{
		<a href="@Url.Action("Index", "Home")" class="nav-item nav-link ">Home</a>
		<a href="@Url.Action("About", "Home")" class="nav-item nav-link">About US</a>
		<a href="@Url.Action("Contact", "Home")" class="nav-item nav-link">Contact</a>
	}
	<a href="@Url.Action("Course", "Home")" class="nav-item nav-link">Course</a>
	@Html.Partial("_navEnd")
	<!-- tab search dictionary -->
	<div class="container-fluid bg-primary mb-5 hero-header">
		<div class="container py-1">
			<div class="row justify-content-center" style="margin-top: 100px">
				<div class="col-lg-10 text-center">
					<h1 class="display-3 text-white animated slideInDown">Manager Quiz of @Model.NameTest</h1>
				</div>
			</div>
			<div class="container">

			
				<div class="row mt-2">
					
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-3"><h4 style="color:white;">Date take : @Model.DateExam.ToString("dd/MM/yyyy")</h4></div>
						<div class="col-md-3"> <h4 style="color:white;">Time start : @Model.TimeStart</h4></div>
						<div class="col-md-3"> <h4 style="color:white;">Time end : @Model.TimeEnd </h4></div>
						<div class="col-md-3"> <h4 style="color:white;">Number question : @Model.NumQuestion </h4></div>

					</div>
				</div>
			

			</div>
		</div>
	</div>

	<!-- Quiz Start -->
	<div class="container">
		<div class="row mt-2 pl-2">
		<p class="col-3">NOTE: You can import file follow number question of Exam or random question from bank!.</p>
		<div class="col-5">
			<form action="@Url.Action("importFileExam", "ExamTest")" class="row" method="post" enctype="multipart/form-data">
				<label for="fileInput">Import many Question <span style="color: red">*<span></label>
				<input type="hidden" name="IDExamTest" value="@ViewBag.IDExamTest" />
				<input type="hidden" name="NumQuestion" value="@ViewBag.num" />
				<div class="col-md-6">
					<input type="file" name="fileExcel" id="fileInput" accept=".xls, .xlsx" class="form-control" required />
				</div>
				<button type="submit" name="btnQuiz" id="SubmitFile" class="d-none col-md-6 btn btn-primary">Import</button>
			</form>
		</div>

		<div class="col-3">
				<a href="@Url.Action("RamdomQuestion","ExamTest", new{IdCourse = ViewBag.IDCourse, numQues = ViewBag.num , idExamTest = ViewBag.IDExamTest})" name="btnCreateExam" class="btn btn-primary" value="Create"> Random Questions</a>
		</div>
		</div>
	</div>
	<!-- Quiz End -->
	@Html.Partial("_footer")
	@Html.Partial("_endScript")
	<script>
		var submitfile = document.querySelector("#SubmitFile");
		document.getElementById('fileInput').addEventListener('change', function () {
			var fileName = this.value.split('\\').pop();
			if (fileName) {
				SubmitFile.classList.remove('d-none');
			} else {
				SubmitFile.classList.add('d-none');
			}
		});
	</script>
</body>

</html>