
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	@Html.Partial("_head")
</head>
<body class=" hero-header">

	@Html.Partial("_navStart")
	@if (ViewBag.Role != 2)
	{
		<a href="@Url.Action("Index", "Home")" class="nav-item nav-link ">Home</a>
		<a href="@Url.Action("About", "Home")" class="nav-item nav-link">About US</a>
		<a href="@Url.Action("Contact", "Home")" class="nav-item nav-link">Contact</a>
	}
	<a href="@Url.Action("Course", "Home")" class="nav-item nav-link">Course</a>
	@Html.Partial("_navEnd")

	<div class="container-fluid bg-primary mb-5 hero-header ">
		<div class="container py-1 mt-3">
			<div class="row justify-content-center py-5">
				<h1 class="text-center text-white animated slideInDown">Create Exam !</h1>
			</div>
			<div class="container">
				<div class="row justify-content-center py-1 mb-0">
					<div id="loginForm" class="col-md-4 py-3 title wow mb-0" data-wow-delay="0.2s">
						<h1 class="text-center text-white"> Course name :</h1>
						<h1 class="text-center text-white"> @ViewBag.Course</h1>
						<form action="@Url.Action("Create", "ExamTest")">
							<p class="text-center" style="color: red"><small>@TempData["MessError"]</small></p>

							
							<input type="hidden" name="IDCourse" value="@ViewBag.IDCourse" />
							<div class="form-group">
								<label >Name of Exam:</label>
								<input type="text" class="form-control" name="NameTest" id="nameofexam" placeholder="Enter name of Exam" required>
							</div>

							<div class="form-group">
								<label>Time Start:</label>
								<input type="time" name="TimeStart" class="form-control" id="TimeStart" required>
							</div>
							<div class="form-group">
								<label >Time end:</label>
								<input type="time" name="TimeEnd" class="form-control" id="TimeEnd" required>
							</div>
							<div class="form-group">
								<label >Date do exam:</label>
								<input type="date" name="DateExam" class="form-control" id="DateExam" min="@DateTime.Now.ToString("yyyy-MM-dd")" required>
							</div>
							<div class="form-group">
								<label>Number Question:</label>
								<input type="number" name="NumQuestion" class="form-control" id="NumQuestion" required>
							</div>
							<div class="form-group">
								<label>Pass of exam:</label>
								<input type="text" name="Password" class="form-control" id="Password" required>
							</div>
							
							<div class="form-group row justify-content-center">
								<button type="submit" class=" btn btn-primary col-md-5 border-1 button" name="submitButton" value="btncreate" id="btncreate" required>Create</button>
								
							
							</div>
						</form>
						
					</div>

					
				</div>
			</div>
		</div>

	</div>
	@Html.Partial("_endScript")
	
</body>
</html>
