@using JOT23_HealthyLifeConnect.Services
@using JOT23_Pre2UniOnline.Models
@using JOT23_Pre2UniOnline.DatAccess;
@{
    ViewBag.title = "Pre2Uni";
    var User = ViewBag.user;
    int idStudent = Convert.ToInt32(ViewBag.idstudent);

    // var Courses = CourseDAO.Instance.Courses().Where(x => x.IDLecturer == LecturerID).ToList();
    var Courses = CourseDAO.Instance.getCoursebyIDStudent(idStudent);
    DateTime vietnamTime = CurrentDateTime.GetcurrentDateTime;
    TimeSpan currentTime = vietnamTime.TimeOfDay;
    List<ExamTest> examtests = new List<ExamTest>();
    List<ExamTest> examnew = new List<ExamTest>();
    foreach (Course obj in Courses)
    {
        examnew = ExamDAO.Instance.GetExamByIDCourse(obj.ID);
        examtests.AddRange(examnew);
    }
    //List<ExamTest> examtests = ExamDAO.Instance.ExamTests();
}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    @Html.Partial("_head")
</head>

<body>
    @Html.Partial("_spanner")
    @Html.Partial("_navStart")
    @if (ViewBag.Role != 2)
    {
        <a href="@Url.Action("Index", "Home")" class="nav-item nav-link ">Home</a>
        <a href="@Url.Action("About", "Home")" class="nav-item nav-link">About US</a>
        <a href="@Url.Action("Contact", "Home")" class="nav-item nav-link">Contact</a>
    }
    <a href="@Url.Action("Course", "Home")" class="nav-item nav-link">Course</a>
    @Html.Partial("_navEnd")
    <!-- tab search dictionary -->
    <div class="container-fluid bg-primary mb-5 hero-header">
        <div class="container py-1">
            <div class="row justify-content-center" style="margin-top: 100px">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">List Exam follow Course</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Calendar Start -->
    <div class="container">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Name Course</th>
                    <th>Exam Name</th>
                    <th>Time</th>
                    <th>Date Exam</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody>
                @if (examtests.Count > 0)
                {
                    var courseGroupedExams = examtests.GroupBy(e => e.IDCourse); // Nhóm các Examtest theo CourseID

                    foreach (var group in courseGroupedExams)
                    {
                        int rowspanCount = group.Count(); // Số lượng Examtest cho mỗi CourseID

                        // Lấy tên khóa học từ ID khóa học (CourseID)
                        var courseName = CourseDAO.Instance.Courses().First(c => c.ID == group.Key).Title;

                        foreach (var exam in group)
                        {
                            <tr>
                                @if (exam == group.First()) // Chỉ hiển thị tên khóa học ở hàng đầu tiên
                                {
                                    <td rowspan="@rowspanCount">
                                        <b>
                                            <span>@courseName</span>
                                        </b>
                                    </td>
                                }
                                <td>
                                    <b><span>@exam.NameTest</span></b>
                                </td>
                                <td>
                                    <b><span>@exam.TimeStart.ToString() - @exam.TimeEnd.ToString()</span></b>
                                </td>
                                <td>
                                    <b><span>@exam.DateExam.ToString("dd/MM/yyyy")</span></b>
                                </td>
                                @if (currentTime < exam.TimeEnd && currentTime > exam.TimeStart && DateTime.Today == exam.DateExam)
                                {
                                    <td><a href="@Url.Action("PassExam", "ExamTest", new {idExam = exam.ID})" class="btn-primary px-5 do-exam-btn" style="border-radius:30px;" id="doExamLink" data-idexam="@exam.ID">Do Exam now</a></td>
                                }
                                else if (currentTime > exam.TimeEnd && DateTime.Today == exam.DateExam)
                                {
                                    <td class=""><a class="btn-primary px-5" style="border-radius:30px; background-color: #fc8282;">Exam had closed</a></td>
                                }
                                else if (currentTime < exam.TimeStart && DateTime.Today == exam.DateExam)
                                {
                                    <td class=""><a class="btn-primary px-5" style="border-radius:30px; background-color: #2d8cdd;">Coming Soon</a></td>
                                }
                                else if (DateTime.Today < exam.DateExam)
                                {
                                    <td class=""><a class="btn-primary px-5" style="border-radius:30px; background-color: #2d8cdd;">Coming Soon</a></td>
                                }
                                else if (DateTime.Today > exam.DateExam)
                                {
                                    <td class=""><a class="btn-primary px-5" style="border-radius:30px; background-color: #fc8282;">Exam had closed</a></td>
                                }
                            </tr>
                        }
                    }
                    <br />
                }

                else
                {
                    <tr>
                        <td colspan="5"><h2>Not Found Anything</h2></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- Calendar End -->
    @Html.Partial("_footer")
    @Html.Partial("_endScript")
    <script>
        console.log("@currentTime.ToString()");

         $(document).on("click", ".do-exam-btn", function (event) {
        event.preventDefault();
        var idStudent = @idStudent;
        var idExam =  $(this).data("idexam");

        // Kiểm tra trạng thái kỳ thi
        $.ajax({
            type: "POST",
            url: "@Url.Action("CheckStatusExam", "ExamTest")",
            data: { idExam: idExam, idStudent: idStudent },
            success: function (result) {
                if (result === true) {
                    // Nếu trạng thái là true, thực hiện chuyển hướng
                        var passExamUrl = "@Url.Action("PassExam", "ExamTest")" + "?idExam=" + idExam;
                        window.location.href = passExamUrl;
                } else {
                    // Nếu trạng thái là false, hiển thị thông báo hoặc thực hiện hành động khác
                    alert("Đã thực hiện rồi!");
                }
            },
            error: function () {
                alert("Đã xảy ra lỗi khi kiểm tra trạng thái kỳ thi!");
            }
        });
    });
    </script>
</body>

</html>