@using JOT23_HealthyLifeConnect.Services
@using JOT23_Pre2UniOnline.DatAccess
@using JOT23_Pre2UniOnline.Models
@{
	DateTime vietnamTime = CurrentDateTime.GetcurrentDateTime;
	TimeSpan currentTime = vietnamTime.TimeOfDay;
}
<div class="container">
	<div class="main-body">
		<div class="row gutters-sm">
			<div class="col-md-4 mb-3">
				<div class="card">
					<div class="card-body">
						<div class="d-flex flex-column align-items-center text-center">
							<img src="~/img/Avatar/Lecturer/@(ViewBag.user.Avatar)" alt="Admin" class="rounded-circle" width="242">
							<div class="mt-3">
								<h4>@ViewBag.user.FirstName @ViewBag.user.LastName</h4>
								<p class="text-secondary mb-1">Lecturer</p>
								<form action="@Url.Action("UploadAvatar","Profile")" method="post" enctype="multipart/form-data">
									<div class="mb-3">
										<input id="fileInputStudent" class="form-control" type="file" accept="image/*" name="image" />
									</div>
									<button id="uploadButtonLecturer" class="btn d-none btn-primary" type="submit">Upload</button>
									<button id="cancel-buttonLecturer" class="btn d-none btn-primary">Cancel</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 ">
				<div id="ProfileFormlt" class="card mb-3">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">First Name</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								@ViewBag.user.FirstName
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">Last Name</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								@ViewBag.user.LastName
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">Password</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								*********
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">Email</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								@ViewBag.user.Email
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">Phone</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								@ViewBag.user.Phone
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">Date of Birth</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								@ViewBag.user.DOB.ToString("dd/MM/yyyy")
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-12">
								<a onclick="showProfileFormlt()" class="btn btn-primary px-5">Edit</a>
							</div>
						</div>
					</div>

					<div class="row gutters-sm">
					</div>
				</div>

				<div id="EditProfileFormlt" class="card mb-3 edit-form" style="display:none ;">
					<div class="card-body">
						<form action="@Url.Action("EditInformation", "Profile")" method="post">
							<input type="hidden" name="Role" value="@(ViewBag.user.RoleID)" />
							<input type="hidden" name="Id" value="@(ViewBag.user.ID)" />
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">First Name <span style="color: red">*<span></h6>
								</div>
								<input maxlength="20" class="col-sm-9 text-secondary" placeholder="First Name" name="FirstName" value="@ViewBag.user.FirstName" required />
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Last Name <span style="color: red">*<span></h6>
								</div>
								<input maxlength="20" class="col-sm-9 text-secondary" placeholder="Last Name" name="LastName" value="@ViewBag.user.LastName" required />
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3 col-md-3">
									<h6 class="mb-0">Password</h6>
								</div>
								<input type="hidden" name="Password" value="@ViewBag.user.Password" />
								<input disabled maxlength="30" class="col-sm-6 col-md-6 text-secondary" title="Password must be at least 8 characters, including at least one uppercase letter, one lowercase letter, one number and one special character" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,30}$"
									   placeholder="Password" value="********" required />
								<button type="button" onclick="ChangePassword()" class="col-sm-3 btn btn-primary btn-">Change</button>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Email</h6>
								</div>
								<input type="hidden" name="Email" value="@ViewBag.user.Email" />
								<input disabled class="col-sm-9 text-secondary" placeholder="Email" type="email" value="@ViewBag.user.Email" required />
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Phone <span style="color: red">*<span></h6>
								</div>
								<input maxlength="10" pattern="[0-9]{10}" class="col-sm-9 text-secondary" name="Phone" type="tel" placeholder="Phone Number" value="@ViewBag.user.Phone" required />
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Day of Birthday <span style="color: red">*<span></h6>
								</div>
								<input id="dobInput" class="col-sm-9 text-secondary datetimepicker-input"
									   name="DOB" data-toggle="datetimepicker" type="date" placeholder="Last Name" value="@ViewBag.user.DOB.ToString("dd/MM/yyyy")" required />
							</div>
							<hr>
							<div class="row">
								<div class="col-7"></div>
								<div class="col-4 d-flex">
									<input type="submit" class="btn btn-primary px-5 m-1" />
									<a onclick="showEditProfileFormlt()" class=" m-1 btn btn-primary px-5">Cancer</a>
								</div>
							</div>
						</form>
					</div>
					<div class="row gutters-sm">
					</div>
				</div>
				@if (ViewBag.user.Courses.Count > 0)
				{
					<div class="container" style="margin-bottom: 50px">
						<table class="table table-striped text-center">
							<thead>
								<tr>
									<th>Course</th>
									<th>Time</th>
									<th>Status</th>
									<th>Day of week</th>
									<th>Student</th>
								</tr>
							</thead>
							<tbody>
								@{
									string previousCourseTitle = null;
								}
								@foreach (Course course in ViewBag.user.Courses)
								{
									@if (course.Status)
									{
										@if (course.Calendars.Count > 0)
										{
											foreach (var calendar in course.Calendars)
											{
												if (previousCourseTitle != course.Title)
												{
													<tr>
														<td rowspan="@(course.Calendars.Count)"><a href="@Url.Action("DetailQuiz","Quiz", new{IDCourse = course.ID})"><b>@course.Title</b></a></td>
														<td><b><i>@calendar.TimeStart.ToString() - @calendar.TimeEnd.ToString()</i></b></td>
														@if (currentTime < calendar.TimeEnd && currentTime > calendar.TimeStart && DateTime.Now.DayOfWeek == calendar.DayOfWeek)
														{
															<td><a href="@Url.Action("Index", "MeetingRoom", new {idCourse = course.ID})" class="btn-primary px-5" style="border-radius:30px;">Join Now</a></td>
														}
														else if (currentTime > calendar.TimeEnd && DateTime.Now.DayOfWeek == calendar.DayOfWeek)
														{
															<td class=""><a class="btn-primary px-5" style="border-radius:30px; background-color: #fc8282;">Class is over</a></td>
														}
														else if (currentTime < calendar.TimeStart && DateTime.Now.DayOfWeek == calendar.DayOfWeek)
														{
															<td class=""><a class="btn-primary px-5" style="border-radius:30px; background-color: #2d8cdd;">Coming Soon</a></td>
														}
														else if (DateTime.Now.DayOfWeek < calendar.DayOfWeek)
														{
															<td class=""><a class="btn-primary px-5" style="border-radius:30px; background-color: #2d8cdd;">Coming Soon</a></td>
														}
														else if (DateTime.Now.DayOfWeek > calendar.DayOfWeek)
														{
															<td class=""><a class="btn-primary px-5" style="border-radius:30px; background-color: #fc8282;">Class is over</a></td>
														}
														<td><b><i>@calendar.DayOfWeek.ToString()</i></b></td>
														<td><a href="@Url.Action("StudentCourse","Home", new{IDCourse = course.ID})">View</a></td>
													</tr>
												}
												else
												{
													<tr>
														<td><b><i>@calendar.TimeStart.ToString() - @calendar.TimeEnd.ToString()</i></b></td>

														@if (currentTime < calendar.TimeEnd && currentTime > calendar.TimeStart && DateTime.Now.DayOfWeek == calendar.DayOfWeek)
														{
															<td><a href="@Url.Action("Index", "MeetingRoom", new {idCourse = course.ID})" class="btn-primary px-5" style="border-radius:30px;">Join Now</a></td>
														}
														else if (currentTime > calendar.TimeEnd && DateTime.Now.DayOfWeek == calendar.DayOfWeek)
														{
															<td class=""><a class="btn-primary px-5" style="border-radius:30px; background-color: #fc8282;">Class is over</a></td>
														}
														else if (currentTime < calendar.TimeStart && DateTime.Now.DayOfWeek == calendar.DayOfWeek)
														{
															<td class=""><a class="btn-primary px-5" style="border-radius:30px; background-color: #2d8cdd;">Coming Soon</a></td>
														}
														else if (DateTime.Now.DayOfWeek < calendar.DayOfWeek)
														{
															<td class=""><a class="btn-primary px-5" style="border-radius:30px; background-color: #2d8cdd;">Coming Soon</a></td>
														}
														else if (DateTime.Now.DayOfWeek > calendar.DayOfWeek)
														{
															<td class=""><a class="btn-primary px-5" style="border-radius:30px; background-color: #fc8282;">Class is over</a></td>
														}
														<td><b><i>@calendar.DayOfWeek.ToString()</i></b></td>
														<td><a href="@Url.Action("StudentCourse","Home", new{IDCourse = course.ID})">View</a></td>
													</tr>
												}

												previousCourseTitle = course.Title;
											}
										}
									}
								}
							</tbody>
						</table>
					</div>
				}
			</div>
			<div id="ChangePassForm" class="modal fade p-lg-5" role="dialog">
				<div class="modal-dialog modal-lg" role="content">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title text-dark">Change Your Password</h4>
							<ion-icon class="closeForm" style="cursor: pointer;" onclick="ChangePassword()" name="close-outline"></ion-icon>
						</div>
						<div class="modal-body">
							<form action="@Url.Action("ChangePassword","Lecturer")">
								<input type="hidden" name="Id" value="@(ViewBag.user.ID)" />
								<div class="form-row row">
									<div class="form-group m-1">
										<label for="oldPassword">Old Password <span style="color: red">*<span></label>
										<input type="password" maxlength="20"
											   pattern="@ViewBag.user.Password"
											   name="oldPassword"
											   title="Please enter your old password"
											   class="form-control" id="oldPassword"
											   placeholder="Your old password" required>
										<small><span id="spanPass" style="color:red; display: none">Not correct </span></small>
									</div>
									<div class="form-group m-1">
										<label for="changePassword">New Password <span style="color: red">*<span></label>
										<input type="password"
											   maxlength="20"
											   title="Password must be at least 8 characters, including at least one uppercase letter, one lowercase letter, one number and one special character"
											   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,30}$"
											   name="Password" class="form-control" id="changePassword" placeholder="Enter Password EX:Abc123@@" required>
										<small><span id="spanPass" style="color:red; display: none">Not correct </span></small>
									</div>
									<div class="form-group m-1">
										<label for="changeConfirmPassword">Confirm password <span style="color: red">*<span></label>
										<input type="password" maxlength="20"
											   class="form-control"
											   id="changeConfirmPassword"
											   title="Re-entered password does not match"
											   onchange="checkPasswordMatch()"
											   placeholder="Enter Confirm password" required>
										<small><span id="spanConfirmpass" style="color:red; display:none">Password not correct</span></small>
									</div>
								</div>
								<div class="form-row p-md-3 center">
									<button type="submit" class="btn btn-primary btn-sm ml-auto cancelForm">Change</button>
									<button type="button" onclick="ChangePassword()" class="btn btn-secondary btn-sm ml-auto cancelForm">Cancel</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var uploadButton = document.getElementById('uploadButtonLecturer');
	const cancelButton = document.getElementById('cancel-buttonLecturer');

	document.getElementById('fileInputStudent').addEventListener('change', function () {
		var fileName = this.value.split('\\').pop();
		if (fileName) {
			uploadButton.classList.remove('d-none');
			cancelButton.classList.remove('d-none');
		} else {
			uploadButton.classList.add('d-none');
			cancelButton.classList.add('d-none');
		}
	});

	cancelButton.addEventListener('click', function () {
		fileInput.value = '';
		cancelButton.style.display = 'none';
	});

	function ChangePassword() {
		$('#ChangePassForm').modal('toggle');
	}
	function checkPasswordMatch() {
		var password = document.getElementById("changePassword").value;
		var confirmPassword = document.getElementById("changeConfirmPassword").value;
		console.log(password, confirmPassword)
		if (password === confirmPassword) {
			document.getElementById("changeConfirmPassword").setCustomValidity("");
		} else {
			document.getElementById("changeConfirmPassword").setCustomValidity("Re-entered password does not match");
		}
	}
</script>
